# Core PyTorch
torch>=2.2.0
torchvision>=0.17.0
torchaudio>=2.2.0

# Image Processing and Augmentations
albumentations>=1.4.0
opencv-python>=4.9.0
matplotlib>=3.8.0
numpy>=1.26.0
scikit-learn>=1.5.0
tqdm>=4.66.0

# HuggingFace Datasets
datasets>=2.19.0

# Segmentation Models
segmentation-models-pytorch>=0.3.3